/* ===================================================
Component: Sitemap
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-sitemap"] {

}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-sitemap--default {
  padding: 15px;
}
